
  <!-- <div>
  <ul class="nav navbar-nav">
  <li>
  <a routerLink="about">About</a>
  </li>
  <li>
  <a routerLink="services">Services</a>
  </li>
  </ul>
  </div> -->

<Header>
  <h1>Live Virtual Class</h1>
</Header>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item dropdown" id="myDropdown">
          <a class="nav-link dropdown-toggle" routerLink="course" data-bs-toggle="dropdown">All Courses </a>
          <ul class="dropdown-menu">
            <li> <a class="dropdown-item" routerLink="mean">MEAN Stack </a></li>
            <li> <a class="dropdown-item" routerLink="mern">MERN Stack &raquo; </a>
              <ul class="submenu dropdown-menu">
                <li><a class="dropdown-item"routerLink="mongo">Mongo</a></li>
                <li><a class="dropdown-item" routerLink="express">Express</a></li>
                <li><a class="dropdown-item" routerLink="node">Node </a>
                </li>
              </ul>
            </li>
            <li><a class="dropdown-item" routerLink="genai">Gen Ai </a></li>
          </ul>
        </li>
        
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="regForm">Registration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="gallery">Gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="contactUs">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="restCall">Rest Call</a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div>
  <router-outlet></router-outlet>   
</div>

<!-- <app-footer></app-footer> -->

 