<div class="container">

    <div class="header">
      <h1> Angular Tutorial </h1>
    </div>
    
  <table class="table table-success table-hover" border="2">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Name</th>
        <th>Email</th>
        <th>Website</th>
        
        <th>Phone</th>
        <th>Lat</th>
        <th>Long</th>
        </tr>
     </thead>
   <tbody>
      <tr *ngFor="let user of users$">
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
       <td>{{ user.name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.website }}</td>
        
        <td>{{ user.phone }}</td>
        <td>{{ user.address.geo.lat }}</td>
        <td>{{ user.address.geo.lng }}</td>
        </tr>
      </tbody>
  </table>
  </div>
  