

<div class="container">
    <h1>
        Registration Form 
      </h1>
    <form #regForm="ngForm">
        <div class="form-group">
            <label>Name : </label>
            <input type="text" name="name" class="form-control" ngModel>
        </div>
        <div class="form-group">
            <label>Designation : </label>
            <input type="text" name="Designation" class="form-control" ngModel>
        </div>
        <div class="form-group" >
            <label>Gender : </label>
            <!-- <section id="radio"> -->
                <input type="radio" name="gender" value="Male"   ngModel>Male 
                <input type="radio" name="gender" value="Female"   ngModel>Female
            <!-- </section> -->
            
        </div>
        <div class="form-group">
            <label>Course : </label>
            <select name="Course" class="form-control" ngModel>
                 <option value="Select">Select</option>
                 <option value="MEAN">MEAN</option>
                 <option value="MERN">MERN</option>
                 <option value="Devops">Devops</option>
            </select>
        </div>
    <div class="form-group">
        <label>Remarks : </label>
        <textarea  class="form-control"  ngModel></textarea>
    </div>
    <!-- <div class="form-group">
        <button class="form-control"> Submit </button>
    </div> -->
    <!-- <div class="form-group">
       <label>
        Registration Details : 
       </label> 
        Name : {{regForm.value.name}}
        Designation : {{regForm.value.Designation}}
        Gender : {{regForm.value.gender}}
        Course : {{regForm.value.Course}}
         {{regForm.value | json}} 
    </div> -->
    
    </form>
</div>
<app-footer></app-footer>